<div class="flex flex-col gap-1 w-full">
  <p-floatlabel variant="in">
    <p-select
      [id]="controlName"
      [formControl]="control"
      [options]="options"
      [optionLabel]="optionLabel"
      [optionValue]="optionValue"
      [showClear]="showClear"
      [filter]="filter"
      [fluid]="true"
      class="w-full"
      [class.ng-dirty]="isInvalid"
      [class.ng-invalid]="isInvalid"
      appendTo="body"
    />
    <label [for]="controlName">{{ label }}</label>
  </p-floatlabel>

  @if (isInvalid) {
    <small class="p-error text-red-700">Campo obrigatório.</small>
  }
</div>
