@layer tailwindcss, primeng, connect-style;

@import 'tailwindcss';

@layer connect-styles {
  html {
    font-family: 'Open Sans', sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Montserrat', sans-serif;
  }
}
